footer {
    background-color: var(--color2);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.icon {
    font-size: 2.5rem;
    margin: 0.3rem;
    color: var(--color4);
    transition: .15s ease-in-out;
}

.icon:hover {
    color: var(--color1);
    cursor: pointer;
}